<div class="ui grid">
	<div class="row">
		<div class="column">
			<div class="item">
				<div class="ui fluid steps">
					  <div class="ui step center aligned" style="width: 30%">
					    <h1 class="green header" style="color: #16AB39">R {{t.amount}}.00</h1>
					  </div>
					  <div class="ui step" style="text-align: left; width: 70%">
					    	<div class="content">
						    	<a class="header" href="#"><h3>{{t.sender.first_name}} {{t.sender.last_name}}</h3></a>
						    	<p style="font-size: 1.1rem;"><b>Gilly</b> says <b>he gave you</b> <div style="font-size: 1.0rem;" class="ui horizontal label">R {{t.amount}}.00</div></p>
						    	<h4 class="ui horizontal divider">
								  	For
								</h4>
						      	<div class="description" style="font-size: 1.1rem;">{{t.description}}</div>
						    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>